.venv
server/__pycache__
server/api/__pycache__
server/api/utils/__pycache__
server/db/__pycache__
tests/__pycache__
.vscode
poetry.lock
poetry.toml
*.db
*.log
migrations/__pycache__
migrations/versions/__pycache__
.pytest_cache
.coverage
docs/server/__pycache__.html